@import url('https://fonts.googleapis.com/css2?family=Antonio:wght@700&family=Montserrat:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@800&display=swap');

h1{
    color: black; 
}
.searchUserBox{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row; 
}

.userSearch{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row; 
}

.datoIcon{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column; 
}

.iconOrderAdmin{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column; 
    margin: 0.8em;
}

.datoVacio{
    width: 2em;
}

.boxDataProfileUser{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    border: 0.2em solid grey;    
    border-radius: 1em;
    transition: 0.3s;
    box-shadow:  5px 5px 5px 2px grey;
    width: 55vw;
    font-size: 0.8em;    
    margin-bottom: 8em;
    padding: 1em;
    background-color: #313443; 

}


.fotoUser{
    height: 20vh;
    width: 10vw;
    align-items: center;
    justify-content: center;
    display: flex;
}

.empty{
    height: 7vh;
    width: 7vw;
    text-align: center;
    
}

#foto{
    height: 20vh;
    width: 20vw;
    border: 0.2em solid grey;   
    border-radius: 1.5em; 

}

.infoUser2Titulos
{
    height: 50vh;
    width: auto;  
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;  
    background-color: #313443; 
  
}

.infoUser2{
    height: 50vh;
    width: -webkit-fill-available;    
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;  
    background-color: #313443; 
  
}
.infoUser3{
    height: 50vh;
    width: -webkit-fill-available;    
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;  
    background-color: #313443; 
    border-radius: 0 1em 1em 0;
}

.inputBaseUser{
    width: 30vh;
    height: 36px;
    border-radius: 4px;
    padding-left: 12px;
    font-size: 14px;
    font-weight: normal;
    font-family: Akzidenz, "‘Helvetica Neue’", Helvetica, Arial, sans-serif;
    border: 1px solid rgb(184, 196, 194);
    transition: border-color 150ms ease-in-out 1s;
    z-index: 1;
    outline: none;
    color: rgb(33, 49, 60);
    background-color: rgb(255, 255, 255);
    padding-right: 12px;
    margin-bottom: 0.4em;
}

.titulosInfoUser {
    border-radius: 1em;
    width: max-content;
    height: 36px;
    margin-bottom: 0.4em;
    margin-left: 0.5em;
    font-weight: bold;
    padding-top: 0.2em;
    font-size: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;  
}

.tituloDataProfile{
    margin-bottom: 0;
    font-family: 'Antonio', sans-serif;
    font-size: 20px;
    text-align: center;
    /* margin-left: 7em; */
}



//Nuevos estilos
/*   color variables */
$clr-primary: #18ffff;
$clr-primary-light: #adffff;
$clr-primary-dark: #ebeefd;
$clr-gray100: #f9fbff;
$clr-gray150: #f4f6fb;
$clr-gray200: #eef1f6;
$clr-gray300: #e1e5ee;
$clr-gray400: #767b91;
$clr-gray500: #4f546c;
$clr-gray600: #2a324b;
$clr-gray700: #161d34;
$clr-bg: #060b23;

/*   border radius */
$radius: 0.5rem;

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.form {
  position: relative;
  width: 20rem;
  height: 3rem;
  margin: 0.5em;
  

  &__input {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 2px solid $clr-gray300;
    border-radius: $radius;
    font-family: inherit;
    font-size: inherit;
    color: white;
    outline: none;
    padding: 1.25rem;
    background: none;

    &:hover {
      border-color: $clr-primary-light;
    }

    /* Change border when input focus*/

    &:focus {
      border-color: $clr-primary;
    }
  }

  &__label {
    position: absolute;
    left: 1rem;
    top: 0.8rem;
    padding: 0 0.5rem;
    color: white;
    cursor: text;
    transition: top 200ms ease-in, left 200ms ease-in, font-size 200ms ease-in;
    background-color: $clr-bg;
  }
}

/* 
1. When the input is in the focus state
reduce the size of the label and move upwards 

2. Keep label state when content is in input field 
*/

.form__input:focus ~ .form__label,
.form__input:not(:placeholder-shown).form__input:not(:focus) ~ .form__label {
  top: -0.5rem;
  font-size: 0.8rem;
  left: 0.8rem;
}
  