.TopRatedBoxMovies{
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    flex-wrap: nowrap;
    background-color: #060d17;
    margin-bottom: 1em;
}

.cardTopRated {
    height: 20vh;
    width: 8.7vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 1em;
    transition: 0.3s;
    font-size: 0.8em;
    margin: 1em;
    overflow: hidden;
}

.cardTopRated:hover{    
    cursor: pointer;
}

.boxCardTopRated {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;  
    height: auto;
    width: auto;
    flex-wrap: nowrap;
}

.poster{
    height: 20vh;
    width: 8.7vw;
}