.popularBoxMovies{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    overflow-x: scroll;
    background-color: #060d17;
}



.popularCard {
    height: 20vh;
    width: 10vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 0.2em solid yellow;    
    border-radius: 1em;
    transition: 0.3s;
    font-size: 0.8em;
    margin: 1em;
    background-color: darkgreen;
    overflow: hidden;
}

.popularCard:hover{
    
    cursor: pointer;
    transition: 0.3s;
    border: 0.2em solid red;
    
}


.popularBoxCard {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;  
    height: auto;
    width: auto;
    flex-wrap: nowrap;
}

.poster{
    height: 20vh;
    width: 10vw;
}