.selectBox{
    background-color:#060d17 ;
    height: 92vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column; 
}

.fotoBox{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row; 
}

.fotoDiv{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column; 
}

.fotoSelect{
    height: 24vh;
    width: 12vw;
    border: 0.2em solid red;
    border-radius: 1em;
    transition: 0.3s;
    font-size: 0.8em;
    margin: 1em;

    &:hover{
        cursor:pointer;
    }
}