.boxMovie{
    background-color: grey;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    color: white;
    height:92vh;
    width: 100vw;

}



.boxLeft{
    background-color: yellow;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    height:92vh;
    width: 24vw;
}

.posterMovie{
    height:50vh;
    width: 24vw;
    border-top-left-radius : 1.5em;
    border-top-right-radius : 1.5em;

}

.buttonMovieBox{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    background-color: grey;
    height:7vh;
    width: 24vw;

}

.buttonMovie{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: grey;
    height:7vh;
    width: 24vw;
}

.buttonMovie:hover{
    color:navajowhite;
    cursor:pointer;
    background-color: pink;
    
}


.boxRight{
    background-color: red;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    color: white;
    height:92vh;
    width: 50vw;
}