@import url('https://fonts.googleapis.com/css2?family=Antonio:wght@700&family=Montserrat:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@800&display=swap');

.tipoDatos{

    display: flex;
    flex-direction: row;
    align-items: center; 
    justify-content: center;
    margin: 1em;
    color: white;
}

.botonDatos{    
    justify-content: center;
    align-items: center; 
    background-color: #313443;
    margin: 0.5em;
    border-radius: 0.3em;
    box-shadow:  2px 2px 2px 1px grey;
    height: 2em;
    width: 5em;
    
    &:hover{
        cursor: pointer;
        background-color:#22252E ;
    }
}

.cardAdmin {    
    height: 8em;
    width: 40em;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border: 0.2em solid grey;    
    border-radius: 1em;
    transition: 0.3s;
    font-size: 0.8em;
    box-shadow:  2px 2px 2px 1px grey;
    margin-right: 1em;
    background-color: lightgrey;
    margin-bottom: 1em;
    padding: 1em;

    &:hover{
        cursor: pointer;
        transition: 0.3s;
        box-shadow: 3px 3px 3px 2px grey, 5px 5px 5px 2px grey;    }  
}

.dato{
    margin: 1em;
}

.cardAdminRight{
    margin: 2em;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.posterDataMovieVentas{
    height: 10vh;
    width: 4vw;
}



.boxCardDataRoom {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;  
    height: auto;
    width: auto;
}



/* If the screen size is 600px wide or less, set the font-size of <div> to 30px */
@media screen and (max-width: 1920px) {
    .datosCardJoinUser {
      font-size: 15px;
    }
  }
