@import 'antd/dist/antd.css';

@import './containers/Home/Home.scss';
@import './containers/Login/Login.scss';
@import './containers/Movie/Movie.scss';
@import './containers/Profile/Profile.scss';
@import './containers/Register/Register.scss';
@import './containers/Search/Search.scss';
@import './containers/Infantil/Infantil.scss';

@import './components/DataMyMovies/DataMyMovies.scss';
@import './components/DataOrder/DataOrder.scss';
@import './components/DataOrderAdmin/DataOrderAdmin.scss';
@import './components//DataProfile/DataProfile.scss';
@import './components/DataProfileAdmin/DataProfileAdmin.scss';
@import './components/MenuLateral/MenuLateral.scss';
@import './components/Navbar/Navbar.scss';
@import './components/Popular/Popular.scss';
@import './components/Recommendations/Recommendations.scss';
@import './components/Stats/Stats.scss';
@import './components/TopRated/TopRated.scss';
@import './components//ForYouSearch/ForYouSearch.scss';
@import './components//ForYouPlay/ForYouPlay.scss';
@import './components/Novedades/Novedades.scss';


.App {
  text-align: center;
}
h1, h2, h3, h4, h5, h6{
  color:white;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
